<nav class="pf-px-4 pf-pt-2 pf-pb-0 pf-bg-opacity-25 pf-bg-gray-200 pf-dark:pf-bg-gray-700 pf-border-gray-300 pf-dark:pf-border-gray-400 pf-rounded-md pf-shadow-md">
  <ul class="pf-flex pf-items-center pf-space-x-6">
    <li><a href="#" class="pf-text-gray-100 pf-dark:pf-text-gray-200 pf-font-sans pf-text-[16px] pf-font-normal">Dashboard</a></li>
    <li><a href="#" class="pf-text-gray-100 pf-dark:pf-text-gray-200 pf-font-sans pf-text-[16px] pf-font-normal">Settings</a></li>
    <li><a href="#" class="pf-text-gray-100 pf-dark:pf-text-gray-200 pf-font-sans pf-text-[16px] pf-font-normal">Tools</a></li>
  </ul>
</nav>
