<nav class="pf-px-5 pf-pt-2 pf-pb-1 pf-bg-opacity-25 pf-rounded-b-md pf-bg-gray-100 pf-light:pf-bg-gray-200 pf-dark:pf-bg-gray-700">
  <ul class="pf-flex pf-space-x-6">
    <li><a href="" class="pf-text-gray-100 pf-light:pf-text-gray-800 pf-dark:pf-text-gray-100 pf-font-sans pf-text-[16px] pf-font-normal">Dashboard</a></li>
    <li><a href="" class="pf-text-gray-100 pf-light:pf-text-gray-800 pf-dark:pf-text-gray-100 pf-font-sans pf-text-[16px] pf-font-normal">Settings</a></li>
    <li><a href="" class="pf-text-gray-100 pf-light:pf-text-gray-800 pf-dark:pf-text-gray-100 pf-font-sans pf-text-[16px] pf-font-normal">Tools</a></li>
  </ul>
</nav>