<section class="pf-bg-gradient-to-r pf-from-blue-500 pf-to-indigo-500 pf-rounded-lg pf-p-8 pf-shadow-md pf-text-white">
  <div class="pf-flex pf-flex-col md:pf-flex-row pf-items-center pf-justify-between">
    <div>
      <h3 class="pf-text-2xl pf-font-bold">{{ title }}</h3>
      <p class="pf-mt-2 pf-text-sm pf-font-light">{{ content }}</p>
    </div>
    <div class="pf-mt-4 md:pf-mt-0">
      {{ button|raw }}
    </div>
  </div>
</section>
