<div id="pf-load" x-data>
{% block content %}

<h1>{{ title }}</h1>

<div class="pf-bg-gray-50 pf-py-24 sm:pf-py-32">
  <div class="pf-mx-auto pf-max-w-2xl pf-px-6 lg:pf-max-w-7xl lg:pf-px-8">
    <h2 class="pf-text-center pf-text-base/7 pf-font-semibold pf-text-indigo-600">{{ content }}</h2>
    <p class="pf-mx-auto pf-mt-2 pf-max-w-lg pf-text-balance pf-text-center pf-text-4xl pf-font-semibold pf-tracking-tight pf-text-gray-950 sm:pf-text-5xl">
      {{ __(description, plugin_domain) }}
    </p>
    <div class="pf-mt-10 pf-grid pf-gap-4 sm:pf-mt-16 lg:pf-grid-cols-3 lg:pf-grid-rows-2">
      <div class="pf-relative lg:pf-row-span-2">
        <div class="pf-absolute pf-inset-px pf-rounded-lg pf-bg-white lg:pf-rounded-l-[2rem]"></div>
        <div class="pf-relative pf-flex pf-h-full pf-flex-col pf-overflow-hidden pf-rounded-[calc(theme(borderRadius.lg)+1px)] lg:pf-rounded-l-[calc(2rem+1px)]">
          <div class="pf-px-8 pf-pb-3 pf-pt-8 sm:pf-px-10 sm:pf-pb-0 sm:pf-pt-10">
            <p class="pf-mt-2 pf-text-lg pf-font-medium pf-tracking-tight pf-text-gray-950 max-lg:pf-text-center">Mobile friendly</p>
            <p class="pf-mt-2 pf-max-w-lg pf-text-sm/6 pf-text-gray-600 max-lg:pf-text-center">
              Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo.
            </p>
          </div>
          <div class="pf-relative pf-min-h-[30rem] pf-w-full pf-grow [container-type:inline-size] max-lg:pf-mx-auto max-lg:pf-max-w-sm">
            <div class="pf-absolute pf-inset-x-10 pf-bottom-0 pf-top-10 pf-overflow-hidden pf-rounded-t-[12cqw] pf-border-x-[3cqw] pf-border-t-[3cqw] pf-border-gray-700 pf-bg-gray-900 pf-shadow-2xl">
              <img class="pf-size-full pf-object-cover pf-object-top" src="https://tailwindui.com/plus/img/component-images/bento-03-mobile-friendly.png" alt="">
            </div>
          </div>
        </div>
        <div class="pf-pointer-events-none pf-absolute pf-inset-px pf-rounded-lg pf-shadow pf-ring-1 pf-ring-black/5 lg:pf-rounded-l-[2rem]"></div>
      </div>
      <div class="pf-relative max-lg:pf-row-start-1">
        <div class="pf-absolute pf-inset-px pf-rounded-lg pf-bg-white max-lg:pf-rounded-t-[2rem]"></div>
        <div class="pf-relative pf-flex pf-h-full pf-flex-col pf-overflow-hidden pf-rounded-[calc(theme(borderRadius.lg)+1px)] max-lg:pf-rounded-t-[calc(2rem+1px)]">
          <div class="pf-px-8 pf-pt-8 sm:pf-px-10 sm:pf-pt-10">
            <p class="pf-mt-2 pf-text-lg pf-font-medium pf-tracking-tight pf-text-gray-950 max-lg:pf-text-center">Performance</p>
            <p class="pf-mt-2 pf-max-w-lg pf-text-sm/6 pf-text-gray-600 max-lg:pf-text-center">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit maiores impedit.
            </p>
          </div>
          <div class="pf-flex pf-flex-1 pf-items-center pf-justify-center pf-px-8 max-lg:pf-pb-12 max-lg:pf-pt-10 sm:pf-px-10 lg:pf-pb-2">
            <img class="pf-w-full max-lg:pf-max-w-xs" src="https://tailwindui.com/plus/img/component-images/bento-03-performance.png" alt="">
          </div>
        </div>
        <div class="pf-pointer-events-none pf-absolute pf-inset-px pf-rounded-lg pf-shadow pf-ring-1 pf-ring-black/5 max-lg:pf-rounded-t-[2rem]"></div>
      </div>
      <!-- Continue with the remaining sections -->
    </div>
  </div>
</div>

{% endblock %}
</div>
