<footer class="pf-bg-gray-100 pf-dark:pf-bg-gray-800 pf-rounded-md pf-py-4 pf-mt-8 pf-border-t pf-dark:pf-border-gray-700">
  <div class="pf-container pf-mx-auto pf-text-center pf-text-sm pf-text-gray-600 pf-dark:pf-text-gray-400">
    © {{ "now"|date("Y") }} Plugin Frame. All rights reserved.
  </div>
</footer>
