{% extends 'lib/footer/_footer-base.twig' %}

{% block content %}
  <p>&copy; 2025 Plugin Frame</p>
{% endblock %}

{% set links = [
  { 'url': '#', 'label': 'Privacy Policy' },
  { 'url': '#', 'label': 'Terms of Service' },
] %}
