<div class=pf-py-1 sm:pf-py-1" pf-data="themeModeToggle">
    <!-- Dark Mode Toggle Buttons -->
    <div class="pf-flex pf-justify-center pf-items-center pf-space-x-4 pf-mb-6">
        <!-- Color Mode Button -->
        <button 
            type="colorModeButton" 
            class="pf-flex pf-items-center pf-w-22 sm:pf-w-28 pf-gap-1 pf-px-2 pf-py-2 pf-font-sans pf-bg-gray-200 pf-rounded-md pf-shadow-md pf-text-gray-700 hover:pf-bg-gray-300 pf-dark:pf-text-gray-200 pf-dark:pf-bg-gray-700 pf-dark:hover:pf-bg-gray-600"
            pf-on:click="toggleMode('color')">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="pf-h-6 pf-w-6 pf-text-gray-800 pf-dark:pf-text-gray-200" 
                viewBox="0 0 512 512" 
                fill="currentColor">
                <path d="M24.249 147.146C8.705 180.182 0 217.072 0 256c0 16.112 1.504 31.871 4.352 47.158h175.91L24.249 147.146zM401.148 45.118 277.845 168.421h218.776C478.279 118.04 444.56 75.057 401.148 45.118zM507.649 208.842H331.881l155.88 155.993C503.299 331.804 512 294.92 512 256c0-16.112-1.504-31.871-4.351-47.158zM45.118 110.853l123.303 123.302V15.379C118.039 33.721 75.055 67.44 45.118 110.853zM147.146 487.751C180.182 503.296 217.072 512 256 512c16.112 0 31.871-1.505 47.158-4.351V331.74L147.146 487.751zM343.579 277.845v218.776c50.382-18.342 93.366-52.061 123.303-95.474L343.579 277.845zM15.379 343.579c18.342 50.381 52.061 93.365 95.473 123.303l123.303-123.303H15.379zM256 0c-16.112 0-31.871 1.505-47.158 4.352V180.26L364.854 24.249C331.818 8.704 294.928 0 256 0z"/>
            </svg>
            Color
        </button>

        <!-- Light Mode Button -->
        <button 
            type="lightModeButton" 
            class="pf-flex pf-items-center pf-w-22 sm:pf-w-28 pf-gap-1 pf-px-2 pf-py-2 pf-font-sans pf-bg-gray-200 pf-rounded-md pf-shadow-md pf-text-gray-700 hover:pf-bg-gray-300 pf-dark:pf-text-gray-200 pf-dark:pf-bg-gray-700 pf-dark:hover:pf-bg-gray-600"
            pf-on:click="toggleMode('light')">
            <svg xmlns="http://www.w3.org/2000/svg" 
                class="pf-h-6 pf-w-6 pf-text-gray-800 pf-dark:pf-text-gray-200" 
                viewBox="0 0 24 24" 
                fill="currentColor">
                <path d="M12 6a1 1 0 0 0 1-1V3a1 1 0 0 0-2 0v2a1 1 0 0 0 1 1zm9 5h-2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2zm-16 1a1 1 0 0 0-1-1H3a1 1 0 0 0 0 2h2a1 1 0 0 0 1-1zm.22-7.28a1 1 0 0 0-1.39 1.47l1.44 1.39a1 1 0 0 0 .73.28 1 1 0 0 0 .72-.31 1 1 0 0 0 0-1.41L5.22 4.72zm11.51 3.42a1 1 0 0 0 .69-.28l1.44-1.39a1 1 0 1 0-1.35-1.47L15.8 6.9a1 1 0 0 0 0 1.41 1 1 0 0 0 .93.22zM12 18a1 1 0 0 0-1 1v2a1 1 0 0 0 2 0v-2a1 1 0 0 0-1-1zm5.73-1.86a1 1 0 0 0-1.39 1.44l1.44 1.42a1 1 0 0 0 .69.28 1 1 0 0 0 .72-.3 1 1 0 0 0 0-1.42l-1.46-1.42zm-11.46 0-1.44 1.39a1 1 0 0 0 0 1.42 1 1 0 0 0 .72.3 1 1 0 0 0 .67-.25l1.44-1.39a1 1 0 0 0-1.39-1.44zM12 8a4 4 0 1 0 4 4 4 4 0 0 0-4-4z"/>
            </svg>
            Light
        </button>

        <!-- Dark Mode Button -->
        <button 
            type="darkModeButton" 
            class="pf-flex pf-items-center pf-w-22 sm:pf-w-28 pf-gap-1 pf-px-2 pf-py-2 pf-font-sans pf-bg-gray-200 pf-rounded-md pf-shadow-md pf-text-gray-700 hover:pf-bg-gray-300 pf-dark:pf-text-gray-200 pf-dark:pf-bg-gray-700 pf-dark:hover:pf-bg-gray-600"
            pf-on:click="toggleMode('dark')">
            <svg xmlns="http://www.w3.org/2000/svg" 
                class="pf-h-6 pf-w-6 pf-text-gray-800 pf-dark:pf-text-gray-200" 
                viewBox="0 0 24 24" 
                fill="currentColor">
                <path d="M12 3c-.13 0-.26.005-.39.014A8.002 8.002 0 0011.64 21 9 9 0 0012 3zm-1.036 14.899A6.008 6.008 0 018.485 5.85a7.965 7.965 0 002.479 12.048z"/>
            </svg>
            Dark
        </button>

        <!-- System Mode Button -->
        <button 
            type="systemModeButton" 
            class="pf-flex pf-items-center pf-w-22 sm:pf-w-28 pf-gap-1 pf-px-2 pf-py-2 pf-font-sans pf-bg-gray-200 pf-rounded-md pf-shadow-md pf-text-gray-700 hover:pf-bg-gray-300 pf-dark:pf-text-gray-200 pf-dark:pf-bg-gray-700 pf-dark:hover:pf-bg-gray-600"
            pf-on:click="toggleMode('system')">
            <svg xmlns="http://www.w3.org/2000/svg"
                class="pf-h-6 pf-w-6 pf-text-gray-800 pf-dark:pf-text-gray-200" 
                viewBox="0 0 24 24" 
                fill="currentColor">
                <path d="M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20.5 L12,3.5 C16.6944204,3.5 20.5,7.30557963 20.5,12 C20.5,16.6944204 16.6944204,20.5 12,20.5 Z"/>
            </svg>
            System
        </button>
    </div>
</div>