<aside class="pf-bg-white pf-border pf-rounded-lg pf-px-4 pf-py-6 pf-shadow-sm pf-dark:pf-bg-gray-800 pf-dark:pf-border-gray-700">
  <h2 class="pf-text-lg pf-font-semibold pf-mb-4">Quick Links</h2>
  <ul class="pf-space-y-2">
    <li><a href="#" class="pf-text-blue-500 hover:pf-underline">View Profile</a></li>
    <li><a href="#" class="pf-text-blue-500 hover:pf-underline">Settings</a></li>
    <li><a href="#" class="pf-text-blue-500 hover:pf-underline">Logout</a></li>
  </ul>
</aside>
