<div>
    <h2 class="pf-cursor-pointer pf-px-[10px] pf-py-1 pf-bg-opacity-40 pf-rounded-lg pf-text-3xl pf-font-sans pf-font-semibold pf-text-yellow-200 hover:pf-text-yellow-500 pf-light:pf-text-gray-800 pf-light:hover:pf-text-gray-100 pf-dark:pf-text-gray-100 pf-dark:hover:pf-text-gray-800  pf-bg-yellow-500 hover:pf-bg-yellow-200 pf-light:pf-bg-gray-200 pf-light:hover:pf-bg-gray-500 pf-dark:pf-bg-gray-500 pf-dark:hover:pf-bg-gray-200">
        {{ plugin_frame_name|upper }}
    </h2>
</div>