<div>
    <h1 class="pf-mt-0 pf-mb-1 pf-text-4xl pf-font-sans pf-font-semibold pf-text-yellow-200 pf-light:pf-text-gray-800 pf-dark:pf-text-gray-100">
        {{ __(plugin_frame_name)|upper }}
    </h1>
</div>