<div>
    <h1 class="pf-cursor-pointer pf-px-[10px] pf-py-1 pf-mt-1 pf-mb-0 pf-bg-opacity-25 pf-rounded-lg pf-text-3xl pf-font-sans pf-font-semibold pf-text-white hover:pf-text-red-500 pf-light:pf-text-gray-800 pf-light:hover:pf-text-gray-100 pf-dark:pf-text-gray-100 pf-dark:hover:pf-text-gray-800  pf-bg-gray-100 hover:pf-bg-white pf-light:pf-bg-gray-200 pf-light:hover:pf-bg-gray-700 pf-dark:pf-bg-gray-700 pf-dark:hover:pf-bg-gray-200">
        {{ __(plugin_frame_name)|upper }}
    </h1>
</div>