<!-- Main Navigation -->
  <nav  id="pf-main-nav"
        x-show="Alpine.store('menu').isOpen || isDesktop"
        class="pf-mx-[0px] pf-pt-[1px] pf-pb-[1px] pf-mb-[-1px] md:pf-mb-0 pf-bg-opacity-25 pf-rounded-b-md pf-text-sm pf-font-sans pf-text-white pf-light:pf-text-gray-800 pf-dark:pf-text-gray-100 pf-bg-gray-100 pf-light:pf-bg-gray-200 pf-dark:pf-bg-gray-700">
    <ul class="md:pf-flex md:pf-space-x-6 pf-flex-col md:pf-flex-row">
      <!-- Mega Menu Item -->
      <li x-data="{ open: false }" 
          @mouseenter="if (isDesktop) open = true" 
          @mouseleave="if (isDesktop) open = false">
        <button @click="if (!isDesktop) open = !open" class="pf-flex pf-px-4 pf-py-2 pf-w-full pf-items-center pf-font-semibold pf-text-gray-800 pf-dark:pf-text-white">
          Mega Menu
          <i x-show="!open" data-lucide="chevron-down" class="pf-ml-1 pf-size-5"></i>
          <i x-show="open" data-lucide="chevron-up" class="pf-ml-1 pf-size-5"></i>
        </button>

        <!-- Mega Menu Dropdown -->
        <div x-show="open" @click.away="open = false" class="pf-absolute pf-mr-[8px] sm:pf-mr-2.5 md:pf-mr-4 lg:pf-mr-5 xl:pf-mr-5 2xl:pf-mr-5 pf-left-0 pf-right-0 pf-bg-white pf-dark:pf-bg-gray-700 pf-rounded-md pf-shadow-lg pf-z-50">
          <div class="pf-grid pf-grid-cols-12 pf-gap-4 pf-px-4 pf-py-4">

            <div class="pf-col-span-12 md:pf-col-span-4">
              <h3 class="pf-text-[16px] pf-font-semibold pf-mb-2 pf-text-gray-700 pf-dark:pf-text-gray-200">Category 1</h3>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 1</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 2</a>
            </div>
            <div class="pf-col-span-12 md:pf-col-span-4">
              <h3 class="pf-text-[16px] pf-font-semibold pf-mb-2 pf-text-gray-700 pf-dark:pf-text-gray-200">Category 1</h3>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 1</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 2</a>
            </div>
            <div class="pf-col-span-12 md:pf-col-span-4">
              <h3 class="pf-text-[16px] pf-font-semibold pf-mb-2 pf-text-gray-700 pf-dark:pf-text-gray-200">Category 1</h3>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 1</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 2</a>
            </div>
            <!-- Repeat other columns -->

          </div>
        </div>
      </li>

      <!-- Sub Menu Item -->
      <li x-data="{ open: false }" 
          @mouseenter="if (isDesktop) open = true" 
          @mouseleave="if (isDesktop) open = false">
        <button @click="if (!isDesktop) open = !open" class="pf-flex pf-px-4 pf-py-2 pf-w-full pf-items-center pf-font-semibold pf-text-gray-800 pf-dark:pf-text-white">
          Sub Menu
          <i x-show="!open" data-lucide="chevron-down" class="pf-ml-1 pf-size-5"></i>
          <i x-show="open" data-lucide="chevron-up" class="pf-ml-1 pf-size-5"></i>
        </button>

        <!-- Sub Menu Dropdown -->
        <div x-show="open" @click.away="open = false" class="md:pf-w-60 pf-absolute pf-mr-[8px] sm:pf-mr-2.5 md:pf-mr-4 lg:pf-mr-5 xl:pf-mr-5 2xl:pf-mr-5 pf-left-0 pf-right-0 md:pf-left-auto md:pf-right-auto pf-bg-white pf-dark:pf-bg-gray-700 pf-rounded-md pf-shadow-lg pf-z-50">
          <div class="pf-grid pf-grid-cols-12 pf-gap-4 pf-px-4 pf-py-4">
            
            <!-- Sub Menu Content -->
            <div class="pf-col-span-12">
              <h3 class="pf-text-[16px] pf-font-semibold pf-mb-2 pf-text-gray-700 pf-dark:pf-text-gray-200">Category 1</h3>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 1</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 2</a>
              <h3 class="pf-text-[16px] pf-font-semibold pf-mb-2 pf-text-gray-700 pf-dark:pf-text-gray-200">Category 1</h3>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 1</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 2</a>
            </div>
            <!-- Add more items as needed -->

          </div>
        </div>
      </li>

      <!-- Simple Menu Item -->
      <li x-data="{ open: false }" 
          @mouseenter="if (isDesktop) open = true" 
          @mouseleave="if (isDesktop) open = false">
        <button @click="if (!isDesktop) open = !open" class="pf-flex pf-px-4 pf-py-2 pf-w-full pf-items-center pf-font-semibold pf-text-gray-800 pf-dark:pf-text-white">
          Simple Menu
          <i x-show="!open" data-lucide="chevron-down" class="pf-ml-1 pf-size-5"></i>
          <i x-show="open" data-lucide="chevron-up" class="pf-ml-1 pf-size-5"></i>
        </button>

        <!-- Sub Menu Dropdown -->
        <div x-show="open" @click.away="open = false" class="md:pf-w-60 pf-absolute pf-mr-[8px] sm:pf-mr-2.5 md:pf-mr-4 lg:pf-mr-5 xl:pf-mr-5 2xl:pf-mr-5 pf-left-0 pf-right-0 md:pf-left-auto md:pf-right-auto pf-bg-white pf-dark:pf-bg-gray-700 pf-rounded-md pf-shadow-lg pf-z-50">
          <div class="pf-grid pf-grid-cols-12 pf-gap-4 pf-px-1 pf-py-4">
            
            <!-- Sub Menu Content -->
            <div class="pf-col-span-12">
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 1</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 2</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 1</a>
              <a href="#" class="pf-block pf-py-2 pf-px-4 hover:pf-rounded-md hover:pf-shadow-md pf-text-gray-700 pf-dark:pf-text-gray-200 hover:pf-bg-gray-100 pf-dark:hover:pf-bg-gray-600">Subitem 2</a>
            </div>
            <!-- Add more items as needed -->

          </div>
        </div>
      </li>

      <!-- Regular Menu Items -->
      <li>
        <a href="#" class="pf-block pf-px-4 pf-py-2 pf-font-semibold pf-text-gray-800 pf-dark:pf-text-white pf-hover:pf-bg-gray-200 pf-dark:pf-hover:pf-bg-gray-600">Settings</a>
      </li>
      <li>
        <a href="#" class="pf-block pf-px-4 pf-py-2 pf-font-semibold pf-text-gray-800 pf-dark:pf-text-white pf-hover:pf-bg-gray-200 pf-dark:pf-hover:pf-bg-gray-600">Tools</a>
      </li>
    </ul>
  </nav>