<header class="pf-header {{ custom_classes|default('') }}">
  <div class="pf-container pf-flex pf-items-center pf-justify-between">
    <div class="pf-header-title">
      {{ title|default('Header Title') }}
    </div>
    <div class="pf-header-actions">
      {{ actions|default('') }}
    </div>
  </div>
</header>
