<div class="pf-container pf-mx-auto pf-mt-4 pf-flex pf-items-center pf-justify-between pf-text-black pf-dark:pf-text-white">
  <h1 class="pf-text-2xl pf-font-sans pf-font-semibold pf-text-gray-100 pf-dark:pf-text-gray-100">
    PLUGIN FRAME
  </h1>
  <div class="pf-mt-4">
    {% include 'lib/theme/theme-dropdown.twig' %}
  </div>
</div>
{% include 'lib/navbar/navbar-modern.twig' %}