<div class="pf-flex pf-mt-8 pf-mb-4 pf-justify-between">
  {% include 'lib/logo/logo-text-icon.twig' %}
  {% include 'lib/theme/theme-dropdown.twig' %}
</div>
<div class="pf-mx-[-1rem] pf-rounded-md">
  {% include 'lib/navbar/navbar-modern.twig' %}
</div>