<div class="pf-flex pf-mt-8 pf-justify-between pf-text-black pf-dark:pf-text-white">
  {% include 'lib/logo/logo-text-modern.twig' %}
  {% include 'lib/theme/theme-dropdown.twig' %}
</div>
{% include 'lib/navbar/navbar-modern.twig' %}