<div class="pf-flex pf-mt-8 pf-justify-between">
  {% include 'lib/logo/logo-text-modern.twig' %}
  {% include 'lib/theme/theme-dropdown.twig' %}
</div>
<div class="pf-mt-[-0.6rem] pf-m-[-1rem] pf-rounded-md">
  {% include 'lib/navbar/navbar-modern.twig' %}
</div>