<div class="pf-flex pf-mt-8 pf-mb-4 pf-justify-between">
  {% include 'lib/logo/logo-text-icon.twig' %}
  <div class="pf-flex pf-justify-center pf-items-center pf-gap-3">
    {% include 'lib/theme/theme-dropdown.twig' %}
    <!-- Mobile Menu Button -->
    <button @click="isMenuOpen = !isMenuOpen" class="pf-flex md:pf-hidden pf-w-10 pf-h-10 pf-px-2 pf-py-2 pf-items-center pf-justify-center pf-font-sans pf-text-[28x] pf-bg-gray-200 pf-rounded-md pf-shadow-md pf-text-gray-700 hover:pf-bg-gray-300 pf-dark:pf-text-gray-200 pf-dark:pf-bg-gray-700 pf-dark:hover:pf-bg-gray-600">
      <i x-show="!isMenuOpen" data-lucide="menu"></i>
      <i x-show="isMenuOpen" data-lucide="x"></i>
    </button>
  </div>
</div>
<div class="pf-mx-[-1rem] pf-rounded-md">
  {% include 'lib/navbar/navbar-modern2.twig' %}
</div>