<section class="pf-bg-gradient-to-r pf-from-indigo-100 pf-to-purple-100 pf-dark:pf-from-gray-800 pf-dark:pf-to-gray-700 pf-rounded-lg pf-p-8 pf-shadow">
  <h2 class="pf-text-3xl pf-font-bold pf-text-indigo-700 pf-dark:pf-text-indigo-300">{{ title }}</h2>
  <p class="pf-mt-2 pf-text-gray-700 pf-dark:pf-text-gray-300">{{ subtitle }}</p>
  <div class="pf-mt-4">
    {{ action_button|raw }}
  </div>
</section>
