<div class="pf-sidebar {{ custom_classes|default('') }}">
  <div class="pf-sidebar-header">
    {{ header|default('Sidebar Header') }}
  </div>
  <div class="pf-sidebar-content">
    {{ content|default('Sidebar Content') }}
  </div>
  <div class="pf-sidebar-footer">
    {{ footer|default('Sidebar Footer') }}
  </div>
</div>
