{% extends 'lib/sidebar/_sidebar-base.twig' %}

{% block custom_classes %}
  pf-sidebar-basic
{% endblock %}

{% block header %}
  Basic Sidebar
{% endblock %}

{% block content %}
  <ul>
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
  </ul>
{% endblock %}

{% block footer %}
  <a href="#">View More</a>
{% endblock %}
